@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  background: #ffffff; 
}

html.dark{
  background: #111;
}

html {
  scroll-behavior: smooth;
}

html {
  scroll-padding-top: 4rem;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  content-visibility: auto;
}
@media (max-width: 768px) {
  *{
    scroll-behavior: none;

  }
  body{
    -webkit-overflow-scrolling: touch;
  }
}